.wade-map-body{
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  height: 620px;
  width: 100%;
  display: -webkit-box;
}

.wade-map-body .filter{
  width: 30%;
  height: 100%;
  text-align: center;
}

.wade-map-body .map{
  width: 70%;
  height: 100%;
  position: relative;
}

.wade-map-body .map .myMap{
  width: 100%;
  height: 100%;
}

.wade-map-body .map .warning{
  z-index: 10;
  position: absolute;
  width: 40%;
  height: 30%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.wade-map-body .map .warning .warning-info{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 30%;
}

.wade-map-body .filter .location-form{
  width: 100%;
  background-color: #f16622;
  text-align: center;
  padding: 20px;
}

.wade-map-body .filter .filter-title{
  color: #f16622;
  font-weight: bold;
}

.wade-map-body .filter .location-form .remove-mid-stop-input{
  cursor: pointer;
}

.wade-map-body .filter .location-form .location-form-button{
  width: 100%;
}

.warning-msg{
  color: #E0E0E0;
}
